hostname {{hostname}}
!
ip routing
!
{% for interface in interfaces %}
interface {{interface.name}}
 no switchport
 ip address {{interface.ip_address}}
 description {{interface.description}}
 no shutdown
{% endfor %}
!
router bgp {{BGP.ASN}}
 bgp log-neighbor-changes
 distance bgp 20 200 200
 maximum-paths 32 ecmp 32
 neighbor ARISTA peer-group 
 neighbor ARISTA remote-as {{BGP.neighbors[0].remote_AS}}
 neighbor ARISTA fall-over bfd
 neighbor ARISTA password {{BGP_password}}
 neighbor ARISTA maximum-rotes 12000
{% for interface in interfaces %}
{% if interface.name == 'loopback0' %}
 router-id {{ interface.ip_address | ipaddr('address') }}
 network {{ interface.ip_address | ipaddr('address') }}
{% else %}
 network {{ interface.ip_address | ipaddr('network') }}
{% endif %}
{% endfor %}
{% for neighbor in BGP.neighbors %}
 neighbor {{neighbor.remote_IP}} peer-group ARISTA
{% endfor %}  
!
snmp-server location {{site_code}}
snmp-server community {{snmp_ro}} ro
!
logging host {{syslog}}
!
ip domain-name {{domain}}
!
ntp server {{ntp}}
clock timezone {{timezone}}
